body {
  background: white;

}

nav {
  text-decoration: underline;
}

ul {
  margin-block-start: 1em;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
}

.left-container {

}

.right-container {
  text-align: center;
}