body {
  background: white;
}

.nav-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 30%;
}

.contents {
  width: 28%;
  height: 100%;
  background: white;
  border-right: 1px solid black;
  position: fixed;
  overflow: scroll;
  top: 0;
}

.right-container {
  width: 70%;
  /*overflow: auto;*/
  height: 100%;
  box-sizing: border-box;
}

.links {
  background: white;
  font-size: 22px;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

.flex-image {
  width: 100%;
  height: auto;
}

.components {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.starting-cards {
  width: 50%;
  height: auto;
}

.supply-cards {
  width: 50%;
  height: auto;
}

.coins {
  width: 33%;
  height: auto;
}

.dice {
  width: 33%;
  height: auto;
}

.game-rules {
  width: 33%;
  height: auto;
}

.card-explanation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.establishments {
  width: 50%;
  height: auto;
}

.landmarks {
  width: 50%;
  height: auto;
}

.game-setup {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.city-hall {
  width: 15%
}
.special-note {
  width: 85%
}

.replenish-line {
  overflow: auto;
}