body {
  background: white;
}

ul {
  padding: 0px;
  margin: 0px;
  margin-block-start: ;
  list-style: none;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-container {
  display: flex;
  flex-direction: column;
  background: white;
  width: 30%;
}

.contents {
  width: 28%;
  height: 100%;
  background: white;
  border-right: 1px solid black;
  position: fixed;
  overflow: scroll;
  top: 0;
}

.right-container {
  width: 70%;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.links {
  background: white;
  font-size: 22px;
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}